@model Carflix.ViewModels.ViaCepResponse

    <form asp-controller="ConsultaCep" asp-action="Cadastrar"
          method="POST"
          data-ajax-method="POST"
          data-ajax="true"
          data-ajax-mode="replace"
          data-ajax-update="#ResultadoConsulta">

        <h2>CEP</h2>
        <div>
            <h4>@Model.Cep</h4>
            <hr />
            <dl>

                <dd>
                    @Html.DisplayFor(model => model.Logradouro)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Complemento)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Complemento)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Bairro)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Bairro)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Localidade)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Localidade)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Uf)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Uf)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Ibge)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Ibge)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Gia)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Gia)
                </dd>
            </dl>
        </div>
    </form>